#app-container main .app-main-wrapper .quote-container {
    max-width: 500px;
    max-height: 850px;
    
    border: none;

    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#app-container main .app-main-wrapper .quote-container label {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    margin-bottom: 30px;

    text-align: center;
}

#app-container main .app-main-wrapper .quote-container span {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 34px;
    color: #000000;
    margin-bottom: 30px;

    text-align: center;
}

#app-container main .app-main-wrapper .quote-container input {
    color: #343434;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;

    width: 200px;
    height: 50px;
    margin-bottom: 50px;
    padding: 8px;
    outline: none;
    align-self: center;
}

#app-container main .app-main-wrapper .quote-container button {
    width: 100%;
    max-width: 300px;

    height: 50px;
    margin-top: 20px;
    align-self: center;

    background: #0000ff;
    border: none;
    border-radius: 20px;
    color: #fff;

    transition: background-color .2s;
    cursor: pointer;
}

