#app-container {
    display: grid;

    grid-template-columns: 120px 1fr;
    grid-template-areas: "aside main";
    column-gap: 50px;
}

#app-container .aside {
    grid-area: aside;
}

#app-container main {
    grid-area: main;
}

#app-container main .app-main-wrapper {
    margin: 64px 0px
}

